*{margin:0;padding:0;box-sizing:border-box;font-family:Arial,sans-serif}

body{background:#0f172a;color:white;line-height:1.6}

.container{width:90%;max-width:1100px;margin:auto}

header{background:#020617;padding:15px 0;position:sticky;top:0}

.nav{display:flex;justify-content:space-between;align-items:center}

.logo{color:#00ffe7}

nav a{color:white;margin-left:20px;text-decoration:none}

.hero{padding:100px 0;text-align:center;background:linear-gradient(135deg,#020617,#1e293b)}

.hero h2{font-size:38px;margin-bottom:15px}

.btn{background:#00ffe7;color:black;padding:12px 25px;text-decoration:none;border-radius:6px;font-weight:bold}

.section{padding:70px 0}

.dark{background:#020617}

.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(220px,1fr));gap:20px;margin-top:30px}

.card{background:#1e293b;padding:30px;border-radius:10px;text-align:center;transition:.3s}

.card:hover{transform:translateY(-8px);background:#334155}

footer{background:#020617;padding:20px 0}

.footer{display:flex;justify-content:space-between;align-items:center}

footer a{color:#00ffe7;margin-left:15px;text-decoration:none}
